.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  /*height: 150px;
  padding: 20px;*/
  color: white;
}

.App-intro {
  font-size: large;
}

.App nav {
  background: #282828;
  padding:8px;
  color:white;
  border-bottom: 1px solid #8FDA52;
}

.App nav a {
  color: #9D9B91;
  text-decoration: none;
  display: inline-block;
  background: #303030;
  padding:8px;
  margin: 5px;
  border-bottom: 1px solid #282828;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
